In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import env
import os

# Zillow Clustering

In [2]:
def get_connection(db_name, username = env.username, host=env.host, password=env.password):
    '''
    This function makes a connection with and pulls from the CodeUp database. It 
    takes the database name as its argument, pulls other login info from env.py.
    Make sure you save this as a variable or it will print out your sensitive user
    info as plain text. 
    '''
    return f'mysql+pymysql://{username}:{password}@{host}/{db_name}'

### 1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

- Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
- Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
- Only include properties that include a latitude and longitude value.

In [3]:
def acquire_zillow(db_name = 'zillow', username = env.username, password = env.password, host = env.host):
    ''' 
    Checks for zillow.csv file and imports it if present. If absent, it will pull in bedroom bathroom counts, sq ft.
    tax value dollar count, year built, tax amount, and fips from properties 2017 in the zillow database. Then it will drop
    nulls and drop duplicates'''
    filename = 'zillow.csv'
    if os.path.isfile(filename):
        zillow_df = pd.read_csv(filename, index_col=0)
        return zillow_df
    a
        return zillow_df

In [4]:
zillow_df = acquire_zillow()
zillow_df.shape

/Users/parkervoit/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3338: DtypeWarning: Columns (64) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

(77575, 68)

In [5]:
zillow_df.parcelid.unique

<bound method Series.unique of 0        14297519
1        17052889
2        14186244
3        12177905
4        10887214
           ...
77570    10833991
77571    11000655
77572    17239384
77573    12773139
77574    12826780
Name: parcelid, Length: 77575, dtype: int64>

### 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [6]:
zillow_df.shape

(77575, 68)

In [7]:
zillow_df.describe().T

,count,mean,std,min,25%,50%,75%,max
id,77575.0,1.495352e+06,8.609703e+05,3.490000e+02,7.521050e+05,1.498195e+06,2.240715e+06,2.982274e+06
parcelid,77575.0,1.300630e+07,3.478021e+06,1.071186e+07,1.153820e+07,1.253053e+07,1.421124e+07,1.676893e+08
airconditioningtypeid,25006.0,1.812045e+00,2.965823e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
architecturalstyletypeid,206.0,7.388350e+00,2.734542e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
basementsqft,50.0,6.797200e+02,6.897035e+02,3.800000e+01,2.730000e+02,5.150000e+02,7.965000e+02,3.560000e+03
bathroomcnt,77575.0,2.298518e+00,9.966998e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,77575.0,3.053252e+00,1.140440e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.600000e+01
buildingclasstypeid,15.0,3.933333e+00,2.581989e-01,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
buildingqualitytypeid,49809.0,6.533779e+00,1.722062e+00,1.000000e+00,6.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,76960.0,2.316385e+00,9.796845e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
decktypeid,614.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,6035.0,1.366198e+03,6.708036e+02,4.400000e+01,9.550000e+02,1.257000e+03,1.615000e+03,6.912000e+03
calculatedfinishedsquarefeet,77375.0,1.784939e+03,9.542625e+02,1.280000e+02,1.182000e+03,1.542000e+03,2.112000e+03,3.564000e+04
finishedsquarefeet12,73920.0,1.760287e+03,9.343648e+02,1.280000e+02,1.172000e+03,1.523000e+03,2.075000e+03,2.192900e+04
finishedsquarefeet13,42.0,1.388762e+03,1.222209e+02,1.056000e+03,1.344000e+03,1.440000e+03,1.440000e+03,1.560000e+03
finishedsquarefeet15,3027.0,2.354491e+03,1.186985e+03,5.980000e+02,1.624000e+03,2.088000e+03,2.831000e+03,3.564000e+04
finishedsquarefeet50,6035.0,1.381427e+03,7.259040e+02,4.400000e+01,9.560000e+02,1.259000e+03,1.621000e+03,1.246700e+04
finishedsquarefeet6,386.0,2.082500e+03,1.240383e+03,3.800000e+02,9.937500e+02,1.812500e+03,3.053500e+03,5.598000e+03
fips,77575.0,6.048813e+03,2.074531e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,8287.0,1.191263e+00,4.910308e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,76960.0,2.250104e+00,9.664791e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,25517.0,1.815339e+00,5.883289e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,25517.0,3.500558e+02,2.616516e+02,0.000000e+00,0.000000e+00,4.360000e+02,4.920000e+02,4.251000e+03
hashottuborspa,1539.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
heatingorsystemtypeid,49570.0,3.921707e+00,3.594804e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
latitude,77575.0,3.400837e+07,2.652878e+05,3.333953e+07,3.381463e+07,3.402200e+07,3.417431e+07,3.481877e+07
longitude,77575.0,-1.182037e+08,3.593826e+05,-1.194754e+08,-1.184150e+08,-1.181810e+08,-1.179286e+08,-1.175546e+08
lotsizesquarefeet,69318.0,2.997445e+04,1.233076e+05,2.360000e+02,5.700000e+03,7.206000e+03,1.183700e+04,6.971010e+06
poolcnt,16173.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,869.0,5.179310e+02,1.565697e+02,2.400000e+01,4.240000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,465.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1074.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,15078.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
propertylandusetypeid,77575.0,2.618245e+02,5.141701e+00,3.100000e+01,2.610000e+02,2.610000e+02,2.660000e+02,2.750000e+02
rawcensustractandblock,77575.0,6.049123e+07,2.058768e+05,6.037101e+07,6.037311e+07,6.037603e+07,6.059042e+07,6.111009e+07
regionidcity,76103.0,3.368339e+04,4.721286e+04,3.491000e+03,1.244700e+04,2.521800e+04,4.545700e+04,3.965560e+05
regionidcounty,77575.0,2.534536e+03,8.014499e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,30973.0,1.877303e+05,1.650452e+05,6.952000e+03,4.673600e+04,1.188490e+05,2.747650e+05,7.641670e+05
regionidzip,77525.0,9.658668e+04,3.793649e+03,9.598200e+04,9.619300e+04,9.638900e+04,9.698700e+04,3.996750e+05
roomcnt,77575.0,1.476120e+00,2.823600e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
storytypeid,50.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
threequarterbathnbr,10105.0,1.009599e+00,1.185776e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
typeconstructiontypeid,222.0,6.040541e+00,5.572847e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.300000e+01
unitcnt,50703.0,1.110309e+00,1.169967e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.370000e+02
yardbuildingsqft17,2393.0,3.054609e+02,2.387352e+02,1.100000e+01,1.700000e+02,2.500000e+02,3.640000e+02,3.191000e+03
yardbuildingsqft26,70.0,2.163857e+02,1.901775e+02,1.200000e+01,6.150000e+01,1.645000e+02,3.105000e+02,8.680000e+02
yearbuilt,77306.0,1.968611e+03,2.379320e+01,1.824000e+03,1.953000e+03,1.970000e+03,1.987000e+03,2.016000e+03
numberofstories,17596.0,1.434246e+00,5.445184e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,172.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,77460.0,1.892815e+05,2.304137e+05,4.400000e+01,8.418200e+04,1.364045e+05,2.187340e+05,1.142179e+07
taxvaluedollarcnt,77574.0,4.901447e+05,6.538022e+05,1.000000e+03,2.068985e+05,3.588785e+05,5.690000e+05,4.906124e+07
assessmentyear,77575.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,77573.0,3.011453e+05,4.927287e+05,1.610000e+02,8.529300e+04,2.031740e+05,3.667530e+05,4.895220e+07
taxamount,77570.0,5.995822e+03,7.628869e+03,1.992000e+01,2.712630e+03,4.448265e+03,6.926785e+03,5.866393e+05
taxdelinquencyyear,2900.0,1.408828e+01,2.181281e+00,3.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
censustractandblock,77328.0,6.049666e+13,1.533376e+12,6.037101e+13,6.037311e+13,6.037603e+13,6.059042e+13,4.830301e+14
logerror,77575.0,1.680199e-02,1.707427e-01,-4.655420e+00,-2.431125e-02,6.672268e-03,3.929142e-02,5.262999e+00

In [8]:
zillow_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77575 entries, 0 to 77574
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77575 non-null  int64
 1   parcelid                      77575 non-null  int64
 2   airconditioningtypeid         25006 non-null  float64
 3   architecturalstyletypeid      206 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77575 non-null  float64
 6   bedroomcnt                    77575 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49809 non-null  float64
 9   calculatedbathnbr             76960 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6035 non-null   float64
 12  calculatedfinishedsquarefeet  77375 non-null  float64
 13  finishedsquarefeet12          73920 non-null  float64
 14  finishedsquarefeet13          42 non-null     float64
 15  finishedsquarefeet15          3027 non-null   float64
 16  finishedsquarefeet50          6035 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77575 non-null  float64
 19  fireplacecnt                  8287 non-null   float64
 20  fullbathcnt                   76960 non-null  float64
 21  garagecarcnt                  25517 non-null  float64
 22  garagetotalsqft               25517 non-null  float64
 23  hashottuborspa                1539 non-null   float64
 24  heatingorsystemtypeid         49570 non-null  float64
 25  latitude                      77575 non-null  float64
 26  longitude                     77575 non-null  float64
 27  lotsizesquarefeet             69318 non-null  float64
 28  poolcnt                       16173 non-null  float64
 29  poolsizesum                   869 non-null    float64
 30  pooltypeid10                  465 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15078 non-null  float64
 33  propertycountylandusecode     77575 non-null  object
 34  propertylandusetypeid         77575 non-null  float64
 35  propertyzoningdesc            50475 non-null  object
 36  rawcensustractandblock        77575 non-null  float64
 37  regionidcity                  76103 non-null  float64
 38  regionidcounty                77575 non-null  float64
 39  regionidneighborhood          30973 non-null  float64
 40  regionidzip                   77525 non-null  float64
 41  roomcnt                       77575 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10105 non-null  float64
 44  typeconstructiontypeid        222 non-null    float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77306 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77460 non-null  float64
 52  taxvaluedollarcnt             77574 non-null  float64
 53  assessmentyear                77575 non-null  float64
 54  landtaxvaluedollarcnt         77573 non-null  float64
 55  taxamount                     77570 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77328 non-null  float64
 59  logerror                      77575 non-null  float64
 60  transactiondate               77575 non-null  object
 61  airconditioningdesc           25006 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49570 non-null  object
 65  propertylandusedesc           77575 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.8+ MB

### 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [9]:
def missing_values_table(df):
    '''
    this function takes a dataframe as input and will output metrics for missing values, and the percent of that column that has missing values
    '''
        # Total missing values
    mis_val = df.isnull().sum()
        # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
        # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
    mis_val_table_ren_columns.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False).round(1)
        # Print some summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
           "There are " + str(mis_val_table_ren_columns.shape[0]) +
           "columns that have missing values.")
        # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [10]:
missing_values_table(zillow_df)

Your selected dataframe has 68 columns.
There are 52columns that have missing values.

                              Missing Values  % of Total Values
buildingclasstypeid                    77560              100.0
buildingclassdesc                      77560              100.0
finishedsquarefeet13                   77533               99.9
basementsqft                           77525               99.9
storydesc                              77525               99.9
storytypeid                            77525               99.9
yardbuildingsqft26                     77505               99.9
fireplaceflag                          77403               99.8
architecturalstyledesc                 77369               99.7
architecturalstyletypeid               77369               99.7
typeconstructiondesc                   77353               99.7
typeconstructiontypeid                 77353               99.7
finishedsquarefeet6                    77189               99.5
pooltypeid10                           77110               99.4
decktypeid                             76961               99.2
poolsizesum                            76706               98.9
pooltypeid2                            76501               98.6
hashottuborspa                         76036               98.0
yardbuildingsqft17                     75182               96.9
taxdelinquencyyear                     74675               96.3
taxdelinquencyflag                     74675               96.3
finishedsquarefeet15                   74548               96.1
finishedsquarefeet50                   71540               92.2
finishedfloor1squarefeet               71540               92.2
fireplacecnt                           69288               89.3
threequarterbathnbr                    67470               87.0
pooltypeid7                            62497               80.6
poolcnt                                61402               79.2
numberofstories                        59979               77.3
airconditioningdesc                    52569               67.8
airconditioningtypeid                  52569               67.8
garagetotalsqft                        52058               67.1
garagecarcnt                           52058               67.1
regionidneighborhood                   46602               60.1
heatingorsystemtypeid                  28005               36.1
heatingorsystemdesc                    28005               36.1
buildingqualitytypeid                  27766               35.8
propertyzoningdesc                     27100               34.9
unitcnt                                26872               34.6
lotsizesquarefeet                       8257               10.6
finishedsquarefeet12                    3655                4.7
regionidcity                            1472                1.9
calculatedbathnbr                        615                0.8
fullbathcnt                              615                0.8
yearbuilt                                269                0.3
censustractandblock                      247                0.3
calculatedfinishedsquarefeet             200                0.3
structuretaxvaluedollarcnt               115                0.1
regionidzip                               50                0.1
taxamount                                  5                0.0
landtaxvaluedollarcnt                      2                0.0
taxvaluedollarcnt                          1                0.0

### 4. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [11]:
zillow = pd.DataFrame(zillow_df.isnull().sum(axis =1), columns = ['num_cols_missing']).reset_index().groupby('num_cols_missing').count().reset_index().rename(columns = {'index': 'num_rows' })
zillow

    num_cols_missing  num_rows
0                 23         2
1                 24        13
2                 25        24
3                 26        65
4                 27       316
5                 28       457
6                 29      5285
7                 30      3465
8                 31      9911
9                 32     12606
10                33     14817
11                34     13357
12                35      5163
13                36      5793
14                37      3630
15                38      1932
16                39       285
17                40       230
18                41        29
19                42        26
20                43        29
21                44        79
22                45        50
23                46         5
24                47         3
25                48         3

In [12]:
zillow['%_cols_missing'] = zillow.num_cols_missing/zillow.shape[1]

In [13]:
def cols_missing(df):
    df = pd.DataFrame(df.isnull().sum(axis =1), columns = ['num_cols_missing'])\
    .reset_index().groupby('num_cols_missing').count()\
    .reset_index().rename(columns = {'index': 'num_rows' })
    df['pct_cols_missing'] = df.num_cols_missing/df.shape[1] 
    return df

In [14]:
cols_missing(zillow_df)

    num_cols_missing  num_rows  pct_cols_missing
0                 23         2              11.5
1                 24        13              12.0
2                 25        24              12.5
3                 26        65              13.0
4                 27       316              13.5
5                 28       457              14.0
6                 29      5285              14.5
7                 30      3465              15.0
8                 31      9911              15.5
9                 32     12606              16.0
10                33     14817              16.5
11                34     13357              17.0
12                35      5163              17.5
13                36      5793              18.0
14                37      3630              18.5
15                38      1932              19.0
16                39       285              19.5
17                40       230              20.0
18                41        29              20.5
19                42        26              21.0
20                43        29              21.5
21                44        79              22.0
22                45        50              22.5
23                46         5              23.0
24                47         3              23.5
25                48         3              24.0

Currently, I have no clue on how I want to approach missing values. Perhaps I could Impute them, or I could drop them entirely. I'd like to avoid dropping because I only have 77000 rows and I don't want to prune down my dataset too much. It will already be reduced from dropping outliers and also during the train test split.

## Acquire

### 1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [15]:
zillow_df.shape

(77575, 68)

In [16]:
single_use_codes = [261, 262, 263, 266, 268, 273, 276, 279]
zillow_df = zillow_df[zillow_df['propertylandusetypeid'].isin(single_use_codes)]

zillow_df

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77570,2864704,10833991,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037132e+13,-0.002245,2017-09-20,Central,NaN,NaN,Central,Condominium,NaN,NaN
77571,673515,11000655,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,...,6.037101e+13,0.020615,2017-09-20,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
77572,2968375,17239384,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,...,6.111008e+13,0.013209,2017-09-21,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
77573,1843709,12773139,1.0,NaN,NaN,1.0,3.0,NaN,4.0,1.0,...,6.037434e+13,0.037129,2017-09-21,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
77574,1187175,12826780,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,6.037503e+13,0.007204,2017-09-25,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN

### 2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

- The input:
    - A dataframe
    - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
    - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
- The output:
    - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
- hint:
    - Look up the dropna documentation.
    - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
    - Make use of inplace, i.e. inplace=True/False.

In [17]:
zillow_df.shape

(71854, 68)

In [18]:
prop_req_col = .75
prop_req_row = .75

In [19]:
#threshold_col = int(len(zillow_df.columns) * prop_req_col)
#threshold_row = int(len(zillow_df.index) * prop_req_row)

In [20]:
#zillow_df = zillow_df.loc[:,zillow_df.columns].dropna(axis = 1, thresh = threshold_row, inplace = False )
#zillow_df

In [21]:
threshold = int(prop_req_col * len(zillow_df.index)) # Require that many non-NA values.
zillow_df.dropna(axis = 1, thresh = threshold, inplace = True)
    
    #drop rows with nulls
threshold = int(prop_req_row * len(zillow_df.columns)) # Require that many non-NA values.
zillow_df.dropna(axis = 0, thresh = threshold, inplace = True)

In [22]:
zillow_df.shape

(71851, 29)

In [25]:
def drop_nulls(df, prop_req_col = .5 , prop_req_row = .5, inplace = True):
    threshold = int(prop_req_col * len(df.index)) 
    df.dropna(axis = 1, thresh = threshold, inplace = True)
    threshold = int(prop_req_row * len(df.columns)) 
    df.dropna(axis = 0, thresh = threshold, inplace = True)
    return df

In [24]:
drop_val(zillow_df)

,id,parcelid,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,...,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,propertylandusedesc
0,1727539,14297519,3.5,4.0,3.5,3100.0,3100.0,6059.0,3.0,33634931.0,...,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0.025595,2017-01-01,Single Family Residential
1,1387261,17052889,1.0,2.0,1.0,1465.0,1465.0,6111.0,1.0,34449266.0,...,1967.0,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01,Single Family Residential
2,11677,14186244,2.0,3.0,2.0,1243.0,1243.0,6059.0,2.0,33886168.0,...,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01,Single Family Residential
3,2288172,12177905,3.0,4.0,3.0,2376.0,2376.0,6037.0,3.0,34245180.0,...,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,Single Family Residential
4,1970746,10887214,3.0,3.0,3.0,1312.0,1312.0,6037.0,3.0,34185120.0,...,1964.0,73681.0,119407.0,2016.0,45726.0,1533.89,6.037124e+13,0.006940,2017-01-01,Condominium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77570,2864704,10833991,3.0,3.0,3.0,1741.0,1741.0,6037.0,3.0,34202400.0,...,1980.0,265000.0,379000.0,2016.0,114000.0,4685.34,6.037132e+13,-0.002245,2017-09-20,Condominium
77571,673515,11000655,2.0,2.0,2.0,1286.0,1286.0,6037.0,2.0,34245368.0,...,1940.0,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13,0.020615,2017-09-20,Single Family Residential
77572,2968375,17239384,2.0,4.0,2.0,1612.0,1612.0,6111.0,2.0,34300140.0,...,1964.0,50683.0,67205.0,2016.0,16522.0,1107.48,6.111008e+13,0.013209,2017-09-21,Single Family Residential
77573,1843709,12773139,1.0,3.0,1.0,1032.0,1032.0,6037.0,1.0,34040895.0,...,1954.0,32797.0,49546.0,2016.0,16749.0,876.43,6.037434e+13,0.037129,2017-09-21,Single Family Residential
77574,1187175,12826780,2.0,3.0,2.0,1762.0,1762.0,6037.0,2.0,33937685.0,...,1955.0,140000.0,522000.0,2016.0,382000.0,6317.15,6.037503e+13,0.007204,2017-09-25,Single Family Residential